<section id="conference" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">BSides Oslo 2022</h2>
        <p class="large"><b>May 25th, 2022 at Vulkan Arena.</b></p>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <p class="large"><b>Travel instructions:</b> Entrance is below street level, by Mathallen and the other restaurants. If travelling by bus, the closest stop is Telthusbakken which serves the 34 and 54 lines.</p>
        <p class="large">The address is:<br/>Vulkan 26<br/>0178 Oslo</p>
      </div>
    </div>
      <div class="col-xs-12 map-holder">
        <p>&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</p>
      </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <h3>Capture the flag</h3>
        <p class="large">
        In collaboration with <a href="https://bootplug.io/">bootplug</a> we're hosting a capture the flag (CTF) contest for BSides Oslo 2022. Registration is open with cool prizes on offer.</p>
        <p class="large"><a href="https://ctf.bootplug.io/">Click here for more information and registration</a></p>
      </div>
    </div>
  </div>
</section>
