<section id="conference" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">BSides Oslo 2022</h2>
        <p class="large"><b>May 25th, 2022 at Vulkan Arena.</b></p>
        </div>
        </div>
      <div class="row">
        <div class="text-center">
          <p class="text-primary">
          <a href="{{ site.ticket_sale_url }}">Ticket sales</a> | 
          <a href="https://ctf.bootplug.io/">CTF information</a></p>
        </div>
    </div>
  </div>
</section>
